/* TAGS */
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
}
body{
    background-color: lightgrey;
}
img{
    margin-top: -7%;
}
header{
    width: 100%;
    min-height: 100px;
    margin: 0;
    background-color: rgb(167, 167, 167); 
}
p{
    text-align: center
}

/* CLASS */
.container{
    padding: 0;
    width: 80%;
}
.fundo{
    background-color: white;
    height: 100vh;
}
.glyphicon{
    font-size: 45px
}
.dropdown{
    float: right;
    margin: 2%;
}
.titulo h1{
    border-bottom: 1px solid #A1CC3F;
    width: fit-content;
}
.row .conteudo{
    margin-top: 3%;
}

/* ID */
#foto{
    height: 100%;
    width: 80%;
    background-color: lightblue;
}